/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f5f8;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.heading {
  font-family: 'Roboto';
  color: #2d3a35;
}

.counters {
  color: #c20a72;
}

.description {
  font-family: 'Roboto';
  color: #2d3a35;
}
.button {
  color: #ffffff;
  background-color: #007bff;
  font-family: 'Roboto';
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 24px;
  }
  .heading {
    font-size: 48px;
  }
}
